body{
	font-family: Myriad Pro;
}
/*Mengatur Navbar*/
.position-nav{
	min-height: 70px;
	border-bottom: 10px solid #38AC00;
	padding-bottom: 10px;
}

/*.navbar-new{
	margin-top: 30px;
}*/

/*navbar start*/
.navbar-toggle{
	margin-top: -60px;
}

.nav .navbar-nav .active a{
	margin: 10px 5px;
}
.nav{
	border-color: #e7e7e7;
    font-family: Myriad Pro;
    font-size:medium;
    margin: 2px;


}

.login{
	float: right;
	background-color: #38AC00;
	padding: 5px;
	min-height: 45px;
	position: relative;
}

.login ul li{
	display: inline-block;
	margin-right: 5px;
	text-decoration: none;
	color: white;
}

.login ul li a{
	text-decoration: none;
	color: white;

}

.daftar{
	float: right;
	background-color: gold;
	padding: 5px;
	min-height: 45px;
}

.daftar ul li{
	display: inline-block;
}

.daftar ul li a{
	text-decoration: none;
	color: black;
	margin: auto;
}

/*CONTENT*/
.border-top{
	border-top: 10px solid #20ac15;
}

.carousel{
	margin-left: -17px;
	margin-right: -15px;
	/*border-top: 10px solid #20ac15;*/
}


/*untuk info haji*/
.info{
	
	font-family: Myriad Pro;
	background-color: #38AC00;
	/*padding: 5px;*/
	font-size:medium;
	word-spacing: 2.5px;
	text-align: center;
	
}

.info ul li{
	text-decoration: none;
	display: inline-block;
	color: white;
	margin-top:10px;
}

/*untuk iklan seputar haji*/
.iklan{
	background-color: #1B1464;
	margin-top: 5px;
	padding-top: 10px;
}

.iklan ul li{
	text-decoration: none;
	display: inline;
}

.list-iklan{
	margin-top: 5px;
	padding-bottom: 10px;
	
}

.list-iklan img{
	margin: 10px 0px ;
}

/*Untuk berita*/
.berita{
	margin-top: 30px;
}

/*Untuk TV Streaming*/
.judul{
	background-color: red;
	color: white;
	padding: 5px;
	font-weight: bold;
	width: 200px;
}

/*Untuk Video Samping*/
.video{
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 10px solid #38AC00;
}
.video img{
	width: 100%;
}


.list-video{
	margin-bottom: 10px;
}

.list-video ul li{
	text-decoration: none;
}

.button{
	background-color: #38AC00;
	padding: 1px;
	text-align: center;
	margin-top: 10px;
}

.button h4 a{
	text-decoration: none;
	color: white;
}

.informasi{
	background-color: #1C3B99;
	padding: 10px;
	margin-top: 10px;
	min-height: 150px;
	color: #38AC00;
	border-radius: 3px;
}

.input{
	width: 180px;
}

.daftar-button{
	background-color: red;
	width: 80px;
	height: 33px;
	float: left;
	padding-top: 5px;
	text-align: center;
	font-weight: bold;
}

.daftar-button a{
	text-decoration: none;
	color: white;
}

.twitter{
	margin-top: 10px;
	border: 10px solid #9DD4ED;
	width: 100%;
}



.media-partner{
	float: left;
}

.clear{
	clear: both;
}

.ketentuan-pembayaran{
	background-color: #2597C3;
	border-radius: 30px;
	padding: 2px;
	width: 250px;
	text-align: center;
	margin-bottom: 10px;
}

.ketentuan-pembayaran a{
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.kategori{
	color: #38AC00;
	margin-bottom: 30px;
	margin-left: 10px;
}

/*HALAMAN PROMO*/
.info-umroh{
	color: white;
}

.info-umroh p{
	font-size: 16px;
}

.separator-video{
	border-bottom: 5px solid #38AC00;
	padding-bottom: 10px;
}

.daftar-berita{
	margin-top: 10px;
	background-color: #38AC00;
	padding: 5px;
	width: 200px;
}

.daftar-berita a{
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.gambar-berita img{
	width: 120px;
	height: 120px;
}

.list-berita{
	margin-top: 10px;
	margin-bottom: 10px;
}

.testimoni p{
	margin-top: 5px;
	text-align: justify;
}

.rekening{
	margin-top: 50px;
}

.carousel-img img{
	width: 100%;
	max-height: 500px;
}

/*CSS HALAMAN BERITA*/
.tagline{
	background-color: green;
	height: 90px;
	
}

.tagline h3{
	color: white;
	margin-top: 30px;	
}

.share ul li{
	text-decoration: none;
	display: inline-block;
	float: right;
	margin-left: 5px;
}

.berita-utama img{
	margin-top: 10px;
	margin-bottom: 10px;
	width:100%;
}

.separator{
	width: 100%;
	height: 6px;
	background-color: #38AC00;
	margin-bottom: 15px;
}

/*CHAT IMAGE*/
.chat-image img{
	float: right;
	margin-bottom: -80px; 
}

/*FOOTER*/
.about{
	background-color: #ffca00;
	margin-top: 20px;
	/*padding: 10px;*/
}

.about a:hover{
	text-decoration: none;
}

.list-footer{
	font-family: Myriad Pro;
	margin-top: 20px;
}

.list-footer li{
	margin-top: 10px;
}

.list-footer ul li{
	list-style: none;
	font-weight: bold;
	font-size: 14px;
}

.list-footer ul li a{
	color: #333324;
}

.list-footer ul li a:hover{
	color: red;
}

.list-footer p{
	text-align: left;
}

.about-right{
	padding-left: 50px;
}

.copyright{
	font-family: Myriad Pro;
	background-color: #1C3B99;
	color: white;
	padding-left: 20px;
	padding: 10px;
}

.copyright ul li{
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
}

.copyright ul li a img{
	text-decoration: none;	
	height: 23px;
	
}

/*HALAMAN SAMBUTAN MANAJER*/
.photo-manajer img{
	border: 10px solid white;
	width: 250px;

}

p{
	text-align: justify;
}

/*Streaming NRA TV*/
.streaming{
	background-color: #0b2142;
	padding: 60px;
	padding-bottom: 10px;
}

.list-video ul li{
	margin-top: 10px;
	list-style: none;
}

.list-video p{
	text-align: center;
	font-weight: bold;
	color: white;
}
.bg-content{
	background-color: #0b2142;
	height: auto; 
	padding-bottom: 100px;
	margin-bottom: -80px;
}
.streaming-tv img{
	width: 100%;
}

.video-lain{
	margin-top: 20px;
}

.video-lain a{
	color: #fecd00;
	text-decoration: none;
}
.video-lain a:hover{
	color: red;
	text-decoration: none;
}

.sharetv{
	margin-left: -20px;	
	margin-top: 10px;
	background-color: #0b2142;
}

.sharetv ul li{
	text-decoration: none;
	display: inline-block;
	float: left;
	margin-left: 5px;
	color: white;
}

.color-chat{
	background-color: #0b2142;
}

/*BROSUR PROMO*/
.brosur{
	padding-bottom: 50px;
}
.gambar-brosur img{
	width: 100%;
	margin-bottom: 5px;
}
.download-brosur{
	float: right;
}

.download-brosur a{
	float: right;
	text-decoration: none;
	color: black;
}

.download-brosur a:hover{
	color: blue;
}


/*tentang kami*/
.info-kami{
	color: white;
	text-align: left;
	padding: 10px;
}
.info-kami p{
	text-align: left;
	font-size: 16px;
}
.p-kami{
	font-size: medium;

}
.p-kami ul li{
	text-decoration: none;
	font-family:  Myriad Pro;;
}

/*hub kami*/
.photo-cs img{
	margin-left: -20px;
	width: 220px;
	margin-top: -80px; z-index: 2; position: relative;

}

/*index video*/

.daftar-video img{
	width: 100%;
}
.daftar-video h4 a{
	color: #164e7c;
	font-weight: bold;
}

.video-terbaru{
	padding: 1px 20px  ;
	margin-bottom: 20px;
	text-align: left;
	color: white;
	background-color: #ffcc00;
}

.video-favorit{
	background-color: #20ac15;
	padding: 1px 20px  ;
	margin-bottom: 20px;
	text-align: left;
	color: white;
}

.bg-favorit{
	background-color: #f3f3f3;
}
.video-kajian{
	padding: 1px 20px  ;
	margin-bottom: 20px;
	text-align: left;
	color: white;
	background-color: #ffcc00;
}

.btn-selanjutnya{
	background-color: #a1a1a1;
	color: white;
	padding: 5px 20px;
	float: right;
	margin-bottom: 10px;
	border-radius: 0px;
}

/*INDEX BERITA*/
.index-berita a{
	text-decoration: none;
	color: black;
}

.index-berita a:hover{
	color: #38AC00;
}

/*PAGINATION*/
.pagination{
	margin: auto;
}
.pagination li a{
	/*margin-left: 20px;*/
	color: black;
}

.pagination li a:hover{
	background-color: #38AC00;
	color: white;
}

.breadcrumb{
	margin-left: -10px;
}

.color-breadcrumb .breadcrumb{
	margin-top: 10px;
	margin-bottom: -20px;
	background-color: green;
}

.color-breadcrumb li a{
	color: white;
	text-decoration: none;
}

.color-breadcrumb li a:hover{
	color: gold;
}

.another-breadcrumb{


	margin-top: 20px;
	margin-bottom: -10px;
}

.breadcrumb h3{
	margin-left: 10px;
	color: #ffcc00;

}

.another-breadcrumb li a{
	color: grey;
	text-decoration: none;
}

.another-breadcrumb li a:hover{
	color: green;
}

/*Halaman Testimonial*/
.photes{
	width: 100px;
	height: 100px;
	float: left;
}
.menu-testimoni{
	background-color: #faf9f9;
	height: auto;
	width: 100%;
}


.teks-komentar{
	float: left;
	text-align: justify;

}

.margin-testimoni{
	margin-top: 20px;
}

.name-testimoni{
	float: right;
	font-weight: bold;
	margin-top: 20px;
}

.garis-testimoni{
	border-bottom: 2px solid #ffcc00;
	margin-left: 15px;
	margin-right: 5%;
	margin-bottom: 20px;
	padding-bottom: 5px;
}

.button-testimoni-next1{
	background-color: #20ac15;
	width: 50px;
	height: 50px;
	float: right;
	margin-right: 40px;
	margin-bottom: 40px;
	margin-top: 20px;

}

.button-testimoni-next2{
	background-color: #20ac15;
	width: 50px;
	height: 50px;
	float: right;
	margin-right: 20px;
	margin-bottom: 40px;
	margin-top: 20px;

}

.icon-testimoni{
	font-size: 20px;
	color: white;
	margin: 14px;

}

.disable{
	background-color: #ebebeb;
}

/*Video*/
.color-row-video{
	background-color: #0b2142;
	padding: 50px;
}

.color-row-video .col-md-4 h2{ 
	color: white;
}

.color-row-video .col-md-4 p{ 
	font-size: 15px;
	color: white;
}

.color-row-video .col-md-4 h5{ 
	font-size: 15px;
	color: white;
}

.video-terkait{
	margin-top: 20px;
	background-color:  #38AC00;
	width: 200px;
	padding:5px;
	margin-bottom: 10px;
}

.video-terkait a{
	text-decoration: none;
	color: white;
}

.teks-video{
	margin-bottom: 12px;
}

.teks-video a{
	text-decoration: none;
}


/*galeri foto*/
.another-breadcrumb-galeri{
	padding: 8px 1px;
    list-style: none;
    background-color: #0B2142;
}

.galeri-foto{
	padding: 20px;
}

.jumlah-foto{
	padding: 0px 4px 0px 4px;
	text-align: center;
	float: left;
	color: white;
	background-color: grey;
	opacity: 0.6;
	text-indent: 99;
	margin-bottom: -60px;
	position: relative;
	float: right;
}

.galeri-foto a{
	color: black;
} 

